@model CapaModelo.Laboratorios
@{
    ViewBag.Title = "CrearLaboratorio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row" style="padding-top:6em;">
    <div class="col-sm-12">
        <div class="card border-info">
            <div class="card-header bg-info text-white">
                Lista de Laboratorios
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-sm btn-success" onclick="abrirPopUpForm(null)"><i class="fa fa-plus" aria-hidden="true"></i> Agregar Nuevo</button>
                    </div>
                </div>
                <hr />
                <div class="row mt-3">
                    <div class="col-sm-12">
                        <table id="tbdata" class="table table-striped table-bordered nowrap compact" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Codigo</th>
                                    <th>Nombre</th>
                                    <th>Direccion</th>
                                    <th>Telefono</th>
                                    <th>Politica</th>
                                    <th>Meses</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header btn-info text-white">
                <h5 class="modal-title" id="exampleModalLabel">Laboratorios</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form">
                    @*<input id="txtid" name="IdRol" value="0" type="text" />*@
                    <input type="hidden" class="form-control form-control-sm model" id="txtid" name="Id_Laboratorio">

                    <div class="form-group">
                        <label for="txtNombreLaboratorio" class="col-form-label">Laboratorio: <span class="error"></span></label>
                        <input type="text" class="form-control form-control-sm model" id="txtNombreLaboratorio" name="Nombre_Laboratorio">
                    </div>
                    <div class="form-group">
                        <label for="txtDireccion" class="col-form-label">Direccion: <span class="error"></span></label>
                        <input type="text" class="form-control form-control-sm model" id="txtDireccion" name="Direccion">
                    </div>
                    <div class="form-group">
                        <label for="txtTelefono" class="col-form-label">Telefono: <span class="error"></span></label>
                        <input type="text" class="form-control form-control-sm model" id="txtTelefono" name="Telefono">
                    </div>
                    <div class="form-group">
                        <label for="txtPoliticaVencimiento" class="col-form-label">Politica Vencimiento: <span class="error"></span></label>
                        <input type="text" class="form-control form-control-sm model" id="txtPoliticaVencimiento" name="Politica_Vencimiento">
                    </div>
                    <div class="form-group">
                        <label for="txtCantidadMeses" class="col-form-label">Cantidad Meses: <span class="error"></span></label>
                        <input type="text" class="form-control form-control-sm model" id="txtCantidadMeses" name="Cantidad_Meses">
                    </div>
                    <div class="form-group">
                        <label for="cboEstado" class="col-form-label">Estado:</label>
                        <select class="form-control form-control-sm model" id="cboEstado" name="Estado">
                            <option value="1">Activo</option>
                            <option value="0">Inactivo</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-sm btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{

    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/Laboratorio_Crear.js"></script>
}