
@{
    ViewBag.Title = "Ventas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section estilos{
    <style>
        #inner-right {
            max-height: 300px;
            overflow-y: scroll;
        }
    </style>
    <link href="~/Resources/Reportes.css" type="text/css" rel="stylesheet" />
}

<body>
    <!--wrapper-->
    <div class="wrapper">
        <!--start page wrapper -->
        <div class="page-wrapper">
            <div class="page-content">
                <!--breadcrumb-->
                <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
                    <div class="breadcrumb-title pe-3">Home</div>
                    <div class="ps-3">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0 p-0">
                                <li class="breadcrumb-item">
                                    <a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Reporte De Ventas</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="ms-auto">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-success" onclick="abrirPopUpForm(null)"><i class='bx bxs-edit'></i></button>
                        </div>
                    </div>
                </div>
                <!--end breadcrumb-->
                <h6 class="mb-0 text-uppercase">Reporte de Ventas</h6>
                <hr />

                <div class="row">
                    <div class="col-sm-12">
                        <div class="card border-info">
                            <div class="card-body">
                                <div class="row align-items-end">
                                    <div class="col-sm-2">
                                        <div class="form-group mb-0">
                                            <label for="txtRucProveedor" class="col-form-label col-form-label-sm">Fecha Inicio:</label>
                                            <input type="text" class="form-control form-control-sm model" id="txtFechaInicio" name="FechaInicio" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group mb-0">
                                            <label for="txtRucProveedor" class="col-form-label col-form-label-sm">Fecha Fin:</label>
                                            <input type="text" class="form-control form-control-sm model" id="txtFechaFin" name="FechaFin" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group mb-0">
                                            <label for="txtRucProveedor" class="col-form-label col-form-label-sm">Tienda:</label>
                                            <select class="form-control form-control-sm model" id="cboTienda" name="Tienda"></select>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="form-group mb-0">
                                            <button id="btnBuscar" type="button" class="btn btn-sm btn-primary btn-block"><i class="fas fa-search"></i> Buscar</button>
                                        </div>
                                    </div>
                                    <div class="col-sm-2">
                                        <button class="btn btn-sm btn-success btn-block" onclick="printData()">
                                            <i class="fas fa-print"></i> Imprimir
                                        </button>
                                    </div>
                                </div>
                                <hr />

                                <div class="header-factura-venta" id="header-reporte-compra" style="-webkit-print-color-adjust: exact;">

                                    <!--Content before waves-->
                                    <div class="inner-header flex">
                                        <!--Just the logo.. Don't mind this-->
                                        <svg version="1.1" class="logo">
                                            <img src="~/Resources/images/Logo_Farmacia.png" style="width: 100px;" id="logo_farmacia_rpt" />
                                        </svg>
                                        <h1 style="color:white;">Reporte de Ventas</h1>
                                    </div>

                                    <!--Waves Container-->
                                    <div id="header-compras" style="-webkit-print-color-adjust: exact;">
                                        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                             viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
                                            <defs>
                                                <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
                                            </defs>
                                            <g class="parallax">
                                                <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
                                                <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
                                                <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
                                                <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
                                            </g>
                                        </svg>
                                    </div>
                                    <!--Waves end-->

                                </div>
                                <!--Header ends-->

                                <div class="row" id="inner-right">
                                    <div class="col-sm-12">
                                        <table id="tbReporte" class="table table-striped table-bordered table-sm table-responsive-xl" style="width:100%">
                                            <thead>
                                                <tr style="-webkit-print-color-adjust: exact;" class="items_detallle">
                                                    <th style="width: 15%; border-radius: 15px 0 0 15px; margin: 1px;">Fecha Venta</th>
                                                    <th style="margin: 1px;">Codigo</th>
                                                    <th style="margin: 1px;">Documento</th>
                                                    <th style="margin: 1px;">Producto</th>
                                                    <th style="margin: 1px;">Concentracion</th>
                                                    <th style="margin: 1px;">Empleado</th>
                                                    <th style="margin: 1px;">Unidades Vendidas</th>
                                                    <th style="margin: 1px;">Cantidad Productos</th>
                                                    <th style="width: 20%; border-radius: 0 15px 15px 0;">Total Venta</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    @section scripts{
        <script src="@Url.Content("~/Scripts/Views/Reporte_Venta.js")" type="text/javascript"></script>
    }
</body>




