@{
    ViewData["Title"] = "Calculadora";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <div class="content" style="margin-top:8em;">
        <div class="calculator">
            <div class="screen"></div>
            <input type="hidden" value="" class="outcome" />
            <ul class="buttons">
                <li class="clear"><a>C</a></li>
                <li><a href="-" class="val">&plusmn;</a></li>
                <li><a href="/" class="val">&divide;</a></li>
                <li><a href="*" class="val">&times;</a></li>
                <li><a href="7" class="val">7</a></li>
                <li><a href="8" class="val">8</a></li>
                <li><a href="9" class="val">9</a></li>
                <li><a href="-" class="val">-</a></li>
                <li><a href="4" class="val">4</a></li>
                <li><a href="5" class="val">5</a></li>
                <li><a href="6" class="val">6</a></li>
                <li><a href="+" class="val">+</a></li>
                <li><a href="1" class="val">1</a></li>
                <li><a href="2" class="val">2</a></li>
                <li><a href="3" class="val">3</a></li>
                <li><a class="equal tall">=</a></li>
                <li><a href="0" class="val wide shift">0</a></li>
                <li><a href="." class="val shift">.</a></li>
            </ul>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="~/js/JavaScript.js"></script>
</body>
