
@{
    ViewBag.Title = "Registrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Compras</a></li>
            <li class="breadcrumb-item active" aria-current="page">Registrar Venta</li>
        </ol>
    </nav>


    <div class="wrapper">
        <div class="page-wrapper">
            <div class="page-content">
                <div class="card-header bg-info text-white">
                    Registrar Venta
                </div>
                <div class="card-body card-venta p-2">
                    <div class="row">

                        <div class="col-sm-6">
                            <div class="card border-info">
                                <div class="card-body p-2">
                                    <h6 class="card-title mb-1 text-info">Detalle Usuario Origen</h6>
                                    <div class="row align-items-end">
                                        <input id="txtIdUsuario" type="hidden" value="0" />

                                        <div class="col-sm-4">
                                            <div class="form-group mb-0">
                                                <label for="txtNombreUsuario" class="col-form-label col-form-label-sm">Usuario:</label>
                                                <input type="text" class="form-control form-control-sm model" readonly id="txtNombreUsuario" name="Usuario">
                                            </div>
                                        </div>
                                        <div class="ms-auto">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-success" onclick="buscarusuario(null)"><i class="fas fa-search"></i>Buscar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card border-info">
                                <div class="card-body p-2">
                                    <h6 class="card-title mb-1 text-info">Detalle Cliente Origen</h6>
                                    <div class="row  align-items-end">
                                        <input id="txtIdCliente" type="hidden" value="0" />

                                        <div class="col-sm-4">
                                            <div class="form-group mb-0">
                                                <label for="txtNCliente" class="col-form-label col-form-label-sm">Cliente:</label>
                                                <input type="text" class="form-control form-control-sm model" readonly id="txtNCliente" name="Cliente">
                                            </div>
                                        </div>
                                        <div class="ms-auto">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-success" onclick="buscarcliente(null)"><i class="fas fa-search"></i>Buscar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="card border-info">
                                <div class="card-body p-2">
                                    <h6 class="card-title mb-1 text-info">Detalle Forma Pago Origen</h6>
                                    <div class="row  align-items-end">
                                        <input id="txtIdFormap" type="hidden" value="0" />

                                        <div class="col-sm-4">
                                            <div class="form-group mb-0">
                                                <label for="txtformapago" class="col-form-label col-form-label-sm">Forma Pago:</label>
                                                <input type="text" class="form-control form-control-sm model" readonly id="txtformapago" name="Forma Pago">
                                            </div>
                                        </div>
                                        <div class="ms-auto">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-success" onclick="buscarformapago(null)"><i class="fas fa-search"></i>Buscar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-sm-12">
                            <div class="card border-info">
                                <div class="card-body p-2">
                                    <h6 class="card-title mb-1 text-info">Detalle Farmaco</h6>
                                    <div class="row">
                                        <input id="txtIdProducto" type="hidden" value="0" />
                                        <div class="col-sm-2">
                                            <div class="form-group mb-0">
                                                <label for="txtNombreFarmaco" class="col-form-label col-form-label-sm">Nombre:</label>
                                                <input type="text" class="form-control form-control-sm model" readonly id="txtNombreFarmaco" name="Nombre">
                                            </div>
                                        </div>
                                        <div class="ms-auto">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-success" onclick="buscarproducto(null)"><i class="fas fa-search"></i>Buscar</button>
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group mb-0">
                                                <label for="txtCantidadFarmaco" class="col-form-label col-form-label-sm">Cantidad:</label>
                                                <input type="text" class="form-control form-control-sm model" id="txtCantidadFarmaco" name="Cantidad" value="0">
                                            </div>
                                        </div>
                                        <div class="col-sm-2">
                                            <div class="form-group mb-0">
                                                <label for="txtPrecioVentaFarmaco" class="col-form-label col-form-label-sm">Precio Venta: <span class="error"> S/.(00.00)</span></label>
                                                <input type="text" class="form-control form-control-sm model" id="txtPrecioVentaFarmaco" name="Precio Venta" value="0">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-sm-12">
                            <button id="btnAgregarVenta" class="btn btn-primary btn-sm float-right">
                                <i class="fas fa-plus"></i> Agregar a Venta
                            </button>
                        </div>
                    </div>
                    <hr />
                    <div class="row mt-3">
                        <div class="col-sm-12">
                            <div class="table-responsive-sm">
                                <table id="tbVenta" class="table table-striped table-bordered nowrap table-sm" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th>Usuario</th>
                                            <th>Cliente</th>
                                            <th>Forma Pago</th>
                                            <th>Nombre Farmaco</th>
                                            <th>Cantidad</th>
                                            <th>Precio Venta</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-white border-info">
                    <button id="btnTerminarGuardarVenta" class="btn btn-primary btn-sm float-right">
                        <i class="fas fa-tags"></i> Terminar y Guardar Venta
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- MODAL USUARIO -->
    <div class="modal fade" id="modalUsuario" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header bg-info text-white">
                    <h5 class="modal-title">Usuarios</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table id="tbUsuario" class="table table-striped table-bordered nowrap compact" style="width:100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Usuario</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL CLIENTE -->
    <div class="modal fade" id="modalCliente" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header bg-info text-white">
                    <h5 class="modal-title">Clientes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table id="tbCliente" class="table table-striped table-bordered nowrap compact" style="width:100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Cliente</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- MODAL FORMA PAGO -->
    <div class="modal fade" id="modalFormaPago" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header bg-info text-white">
                    <h5 class="modal-title">Formas Pago</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table id="tbFormaPago" class="table table-striped table-bordered nowrap compact" style="width:100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Forma Pago</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- MODAL FARMACO -->
    <div class="modal fade" id="modalProducto" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header bg-info text-white">
                    <h5 class="modal-title">Farmacos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table id="tbProducto" class="table table-striped table-bordered nowrap compact" style="width:100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Nombre</th>

                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @section Scripts{

        <partial name="_ValidationScriptsPartial" />
        <script src="~/js/Venta_Registrar.js"></script>
    }

</body>