@{ /**/

                ViewBag.Title = "Home Page";
    @Styles.Render("~/Resources/sweetalert2.min.css") }



<body>
    <!--start page wrapper -->
    <div class="page-wrapper">
        <div class="page-content">
            <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-4">
                <div class="col">
                    <div class="card radius-10 overflow-hidden bg-gradient-1">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div>
                                    <p class="mb-0 text-white">Total Productos</p>
                                    <div class="d-flex">
                                        <h5 class="mb-0 text-white">C$</h5>
                                        <h5 class="mb-0 text-white" id="Total_Productos"></h5>
                                    </div>
                                </div>
                                <div class="ms-auto text-white animate__animated animate__pulse animate__infinite">
                                    <i class='bx bx-cart font-30'></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card radius-10 overflow-hidden bg-gradient-2">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div>
                                    <p class="mb-0 text-white">Total Compras</p>
                                    <div class="d-flex">
                                        <h5 class="mb-0 text-white">C$</h5>
                                        <h5 class="mb-0 text-white" id="Total_Compras"></h5>
                                    </div>
                                </div>
                                <div class="ms-auto text-white animate__animated animate__pulse animate__infinite">
                                    <i class='bx bx-wallet font-30'></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card radius-10 overflow-hidden bg-gradient-3">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div>
                                    <p class="mb-0 text-white">Total Ventas</p>
                                    <div class="d-flex">
                                        <h5 class="mb-0 text-white">C$</h5>
                                        <h5 class="mb-0 text-white" id="Total_Ventas"></h5>
                                    </div>
                                </div>
                                <div class="ms-auto text-white animate__animated animate__pulse animate__infinite">
                                    <i class='bx bx-group font-30'></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card radius-10 overflow-hidden bg-gradient-4">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div>
                                    <p class="mb-0 text-white">Total Categorias</p>
                                    <div class="d-flex">
                                        <h5 class="mb-0 text-white" id="Total_Categorias"></h5>
                                    </div>
                                </div>
                                <div class="ms-auto text-white animate__animated animate__pulse animate__infinite">
                                    <i class='bx bx-chat font-30'></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--end row-->

            <div class="row">
                <div class="col-12 col-xl-4 d-flex">
                    <div class="card radius-10 w-100">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div>
                                    <h5 class="mb-0">Clientes</h5>
                                </div>
                                <div class="font-22 ms-auto">
                                    <i class='bx bx-dots-horizontal-rounded'></i>
                                </div>
                            </div>
                        </div>
                        <div class="customers-list p-3 mb-3">
                            <div class="">
                                <div class="ms-2 customers"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-4 d-flex">
                    <div class="card radius-10 w-100 overflow-hidden">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div>
                                    <h5 class="mb-0">Tablero de Mando</h5>
                                </div>
                                <div class="font-22 ms-auto">
                                    <i class='bx bx-dots-horizontal-rounded'></i>
                                </div>
                            </div>
                        </div>

                        <div class="store-metrics p-3 mb-3">

                            <div class="card mt-3 radius-10 border shadow-none">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <p class="mb-0 text-secondary">Ventas Por Dia</p>
                                            <div class="d-flex">
                                                <h5 class="mb-0">C$</h5>
                                                <h5 class="mb-0" id="Ventas_Dia"></h5>
                                            </div>
                                        </div>
                                        <div class="widgets-icons bg-light-primary text-primary ms-auto">
                                            <i class='bx bxs-shopping-bag'></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card radius-10 border shadow-none">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <p class="mb-0 text-secondary">Ventas Por Mes</p>
                                            <div class="d-flex">
                                                <h5 class="mb-0">C$</h5>
                                                <h5 class="mb-0" id="Ventas_Mes"></h5>
                                            </div>
                                        </div>
                                        <div class="widgets-icons bg-light-danger text-danger ms-auto">
                                            <i class='bx bxs-group'></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card radius-10 border shadow-none">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <p class="mb-0 text-secondary">Total Categories</p>
                                            <h4 class="mb-0">98</h4>
                                        </div>
                                        <div class="widgets-icons bg-light-success text-success ms-auto">
                                            <i class='bx bxs-category'></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card radius-10 border shadow-none">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <p class="mb-0 text-secondary">Total Orders</p>
                                            <h4 class="mb-0">124</h4>
                                        </div>
                                        <div class="widgets-icons bg-light-info text-info ms-auto">
                                            <i class='bx bxs-cart-add'></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card radius-10 border shadow-none mb-0">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <p class="mb-0 text-secondary">Total Vendors</p>
                                            <h4 class="mb-0">55</h4>
                                        </div>
                                        <div class="widgets-icons bg-light-warning text-warning ms-auto">
                                            <i class='bx bxs-user-account'></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-12 col-xl-4 d-flex">
                    
                    <div class="card radius-10 w-100 ">
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div>
                                    <h5 class="mb-1">
                                        Productos principales
                                    </h5>
                                </div>
                                <div class="font-22 ms-auto">
                                    <i class="bx bx-dots-horizontal-rounded"></i>
                                </div>
                            </div>
                        </div>
                        <div class="card radius-10 w-100 overflow-hidden">
                            <div class="customers-list p-3 mb-3">
                                <div class="">
                                    <div class="ms-2 topProducts"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                    </div>
                </div>
            </div><!--end row-->
        
        <div class="content">
            <iframe title="Dashboard - Dashboard" width="100%" height="541.25" src="https://app.powerbi.com/reportEmbed?reportId=a9adea3f-e08f-4766-bbd5-cd594f09915f&autoAuth=true&ctid=e8fad2f7-84d6-46ee-8fbf-0177e9a32a4c&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXdlc3QtdXMtZC1wcmltYXJ5LXJlZGlyZWN0LmFuYWx5c2lzLndpbmRvd3MubmV0LyJ9" frameborder="0" allowFullScreen="true"></iframe>
        </div>

        </div>
    </div>


    <!--end page wrapper -->
    <!--start overlay-->
    <div class="overlay toggle-icon"></div>
    <!--end overlay-->
    <!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
    <!--End Back To Top Button-->


    <footer class="page-footer">
        <p class="mb-0">Copyright © 2021. All right reserved.</p>
    </footer>
    <link type="text/css" rel="stylesheet" href="~/Resources/sweetalert2.min.css" />
    <script src="~/Resources/sweetalert2.js"></script>
    <script src="~/Resources/Alertas.js"></script>
    <script src="@Url.Content("~/Resources/Alerta.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Resources/sweetalert2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Views/Home_Index.js")" type="text/javascript"></script>
</body>